/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

.top-players {
    margin-top: -30px;
}

.h2 {
    color: #562EFF;
}

.name {
    margin-left: 16px;
    font-size: 18px;
}

main {
    display: flex;
    justify-content: center;

}

/* common style */
.container {
    background-color: #FFFFFF;
    width: 870px;
    padding: 33px;
    margin-top: 33px;
}


/* top pleyers style */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;

    /* grid-template-columns: repeat(1fr,1fr, 1fr); */
}

.player {
    display: flex;

}

.players img {
    width: 56px;
    height: 56px;
}

/* :horizontal */
hr {
    border: 1px solid #D1D1D1;
    margin-top: 25px;
}

/* tob blog */

